<div class="block create-account">
    <h3>@T("Get started")</h3>
    <p>@T("Got an issue or project that needs to be tackled? Get the help form the Orchard Pros Community.")</p>
    <a href="@Url.Action("Create", "Ticket", new { area = "OrchardPros" })" class="btn btn-default btn-create-ticket">@T("Create ticket")</a>
</div>