<footer>
    <div class="container">
        <div class="footer-block orchard-network">
            <h3>Orchard Network</h3>
            <ul class="list">
                <li><a href="http://orchardproject.net" target="_blank">Orchard Project</a></li>
                <li><a href="http://orchardmarket.net" target="_blank">Orchard Market</a></li>
                <li><a href="http://orcharddojo.net" target="_blank">Orchard Dojo</a></li>
                <li><a href="http://orchardprime.net" target="_blank">Orchard Prime</a></li>
            </ul>
        </div>
        <div class="footer-block social">
            <h3>Follow us</h3>
            <p>Social Media stuff goes here</p>
        </div>
    </div>
</footer>