<footer>
    <div class="container">
        <div class="footer-block orchard-network">
            <h3>Orchard Network</h3>
            <ul class="list">
                <li><a href="#">Orchard Project</a></li>
                <li><a href="#">Orchard Market</a></li>
                <li><a href="#">Orchard Dojo</a></li>
                <li><a href="#">Orchard Prims</a></li>
            </ul>
        </div>
        <div class="footer-block social">
            <h3>Follow us</h3>
            <p>Social Media stuff goes here</p>
        </div>
    </div>
</footer>