@using NGM.OpenAuthentication.Models
@using Orchard.Utility.Extensions
@{
    Script.Require("ShapesBase");
    var providers = (IEnumerable<OrchardAuthenticationClientData>)Model.Providers;
}
<p class="small">@T("Or sign in using:")</p>
<ul class="social-oauth">
    @foreach (var provider in providers) {
        <li class="@provider.ProviderName.HtmlClassify()">
            <a href="@Url.Action("SignIn", "OAuth", new { Id = provider.ProviderName, Area = "OrchardPros" })">&nbsp;</a>
        </li>
    }
</ul>