<!-- Tickets posts -->
<article class="ticket-post">
    <div class="ticket-summary">
        <h2><a href="#">Post title</a></h2>
        <a href="#" class="category-link">Category</a>
        <div class="tags">
            <a href="#"><span class="label label-default">Default</span></a>
            <a href="#"><span class="label label-default">Default</span></a>
            <a href="#"><span class="label label-default">Default</span></a>
        </div>
    </div>
    <div class="ticket-status">
        <ul>
            <li class="votes negative"><span class="number">-8</span><span class="type">votes</span></li>
            <li class="views"><span class="number">8</span><span class="type">views</span></li>
            <li class="replies solved"><span class="number">2</span><span class="type">replies</span></li>
        </ul>
    </div>
    <div class="ticket-info">
        <span class="ticket-expiration">Expires 2d 5h 30m</span>
        <span class="ticket-bounty">Bounty: $100</span>
        <span class="ticket-exp">EXP: 50</span>
        <span class="ticket-timestamp">50 mins ago by<span class="author"><a href="#">Username</a></span></span>
    </div>
</article>

<article class="ticket-post">
    <div class="ticket-summary">
        <h2><a href="#">Post title</a></h2>
        <a href="#" class="category-link">Category</a>
        <div class="tags">
            <a href="#"><span class="label label-default">Default</span></a>
            <a href="#"><span class="label label-default">Default</span></a>
            <a href="#"><span class="label label-default">Default</span></a>
        </div>
    </div>
    <div class="ticket-status">
        <ul>
            <li class="votes negative"><span class="number">-8</span><span class="type">votes</span></li>
            <li class="views"><span class="number">8</span><span class="type">views</span></li>
            <li class="replies solved"><span class="number">2</span><span class="type">replies</span></li>
        </ul>
    </div>
    <div class="ticket-info">
        <span class="ticket-expiration">Expires 2d 5h 30m</span>
        <span class="ticket-bounty">Bounty: $100</span>
        <span class="ticket-exp">EXP: 50</span>
        <span class="ticket-timestamp">50 mins ago by<span class="author"><a href="#">Username</a></span></span>
    </div>
</article>

<article class="ticket-post">
    <div class="ticket-summary">
        <h2><a href="#">Post title</a></h2>
        <a href="#" class="category-link">Category</a>
        <div class="tags">
            <a href="#"><span class="label label-default">Default</span></a>
            <a href="#"><span class="label label-default">Default</span></a>
            <a href="#"><span class="label label-default">Default</span></a>
        </div>
    </div>
    <div class="ticket-status">
        <ul>
            <li class="votes negative"><span class="number">-8</span><span class="type">votes</span></li>
            <li class="views"><span class="number">8</span><span class="type">views</span></li>
            <li class="replies solved"><span class="number">2</span><span class="type">replies</span></li>
        </ul>
    </div>
    <div class="ticket-info">
        <span class="ticket-expiration">Expires 2d 5h 30m</span>
        <span class="ticket-bounty">Bounty: $100</span>
        <span class="ticket-exp">EXP: 50</span>
        <span class="ticket-timestamp">50 mins ago by<span class="author"><a href="#">Username</a></span></span>
    </div>
</article>
<!-- /Ticket Posts -->