@using Orchard.Security
@using OrchardPros.Helpers
@{
    var user = (IUser) Model.User;
}
<div class="jumbotron account">
    <img src="@Url.AvatarUrl(user, this, 140)" alt="@user.UserName" class="profile-img-l">
</div>