<div class="block quote">
    <blockquote>
        <span class="dropcap">&nbsp;</span>
        <p class="quote-content">I was really stuck for days, but the guys at Orchard Pros were quick and really helpful"</p>
        <p class="quote-author small">John</p>
    </blockquote>
</div>