@{
    var baseUrl = WorkContext.CurrentSite.BaseUrl;
    var logoUrl = VirtualPathUtility.AppendTrailingSlash(baseUrl) + "themes/orchardprostheme/images/logo-orchard-pros.png";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="text-align:center; font-family:MS Trebuchet, Helvetica, Verdana, sans-serif; background:#fff;">
        <center>
            <table width="100%">
                <thead>
                    <tr>
                        <td style="height:60px; padding:10px; vertical-align:top; border-bottom:1px solid #ccc;">
                            <img src="@logoUrl" alt="Orchard Pros" title="Orchard Pros">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" style="padding: 30px 10px; font-size: 0.9em; line-height: 1.5em; font-family: MS Trebuchet, Helvetica, Verdana, sans-serif;">
                            <h1>Orchard Pros</h1>
                            @Display.PlaceChildContent(Source: Model)
                        </td>
                    </tr>
                    <tr>
                        <td style="background: #eee; border-top: 3px solid #94c74f; margin-top: 30px; padding: 20px 10px; font-size: 0.5em; font-family: MS Trebuchet, Helvetica, Verdana, sans-serif;">
                            <p>You are receiving this e-mail because you are a member of OrchardPros. To configure your notification settings, please visit your profile page.</p>
                            <p>© 2014 Orchard Pros | <a href="http://orchardpros.net" style="color:#2a6496;">www.orchardpros.net</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
</body>
</html>