<!-- Filters -->
<div class="container">
    <div class="filters">
        <ul>
            <li class="filter"><a href="#">Category<span class="glyphicon glyphicon-remove"></span></a></li>
            <li class="filter"><a href="#">Category<span class="glyphicon glyphicon-remove"></span></a></li>
            <li class="filter"><a href="#">Tag<span class="glyphicon glyphicon-remove"></span></a></li>
            <li class="filter"><a href="#">Tag<span class="glyphicon glyphicon-remove"></span></a></li>
        </ul>
    </div>
</div> <!-- /Filters -->