@{
    SetMeta(httpEquiv: "X-UA-Compatible", content: "IE=edge,chrome=1");
    SetMeta("viewport", "width=device-width, initial-scale=1.0");
    Style.Include("bootstrap.css", "bootstrap.min.css");
    Style.Include("bootstrap-theme.css", "bootstrap-theme.min.css");
    Script.Require("jQuery").AtFoot();
    Script.Include("bootstrap.js", "bootstrap.min.js").AtFoot();
}
@Display.Header()

<div class="jumbotron">
    <div class="container">
        <h1>@WorkContext.CurrentSite.SiteName</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    </div>
</div>

@Display.Main()