<aside>
    <div class="panel panel-default idplate">
        <div class="panel-heading">
            <h3 class="panel-title">Info</h3>
        </div>
        <div class="panel-body">
            <ul class="expert-info">
                <li class="name"><a href="#">Expert name</a></li>
                <li class="title">Lv.00 Title</li>
                <li class="rating">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </li>
                <li class="experience">
                    <p>10000 EXP</p>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <ul class="expert-info">
                <li class="activity bordered-top-bottom">
                    <h4>Activity</h4>
                    <p>Active since 01 December 2013</p>
                    <p>Replies: 30</p>
                    <p>Tickets solved: 4</p>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <ul class="expert-info">
                <li class="achievements">
                    <h4>Achievements</h4>
                    <p>
                        <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                    </p>
                </li>
            </ul>
        </div>
    </div> <!-- /.panel -->
</aside>