<article class="profile-account">
    <h2>Account Settings</h2>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-3">Username</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="username">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3">E-mail</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password">
            </div>
        </div>
        <div class="form-group">
            <label for="password2" class="col-sm-3">Repeat password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password2">
            </div>
        </div>
    </form>
</article>
<article class="profile-notifications">
    <h2>Notifications</h2>
    <div class="checkbox">
        <label><input type="checkbox" checked> Email me when someone replies to my ticket</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" checked> Email me when someone replies to a ticket I’m following</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" checked> Email me when someone I follow creates a new ticket</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" checked> Email me when I receive a private message</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" checked> Email me when I receive a friend request</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" checked> Subscribe to the Orchard Pros newsletter</label>
    </div>
</article>
<article class="profile-payment">
    <h2>Payment Details</h2>
    <p>Link your Paypal account to receive and transfer bounty payments.</p>
    <p>Paypal logo and API go here</p>
</article>
<form role="form">
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-save">Save settings</button>
    </div>
</form>