<!-- Replies -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section>
                <div class="sorter">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">Best voted</a></li>
                        <li><a href="#">Latest</a></li>
                    </ul>
                </div>

                <!-- Ticket reply -->
                <article class="ticket-reply">
                    <div class="col-md-8">
                        <div class="ticket-summary">
                            <h3>Optional reply title</h3>
                            <p>Decore reprehendunt ea ius, no dico ullum voluptatibus pro. Ne ullum partem vocent eam. Ea legere rationibus quo, sea prompta adolescens in, hinc docendi eu mei. Id deleniti periculis est. Has soleat graeco eligendi eu, ei veri assum pri. Et illud referrentur mei, pri ceteros commune temporibus no, et causae alterum quo. Mei ei reformidans vituperatoribus, aeque tritani eos id, ad nam graece ancillae invenire.</p>
                            <p>Decore reprehendunt ea ius, no dico ullum voluptatibus pro. Ne ullum partem vocent eam. Ea legere rationibus quo, sea prompta adolescens in, hinc docendi eu mei. Id deleniti periculis est. Has soleat graeco eligendi eu, ei veri assum pri. Et illud referrentur mei, pri ceteros commune temporibus no, et causae alterum quo. Mei ei reformidans vituperatoribus, aeque tritani eos id, ad nam graece ancillae invenire. Decore reprehendunt ea ius, no dico ullum voluptatibus pro. Ne ullum partem vocent eam. Ea legere rationibus quo, sea prompta adolescens in, hinc docendi eu mei. Id deleniti periculis est. Has soleat graeco eligendi eu, ei veri assum pri. Et illud referrentur mei, pri ceteros commune temporibus no, et causae alterum quo. Mei ei reformidans vituperatoribus, aeque tritani eos id, ad nam graece ancillae invenire.</p>
                        </div>
                        <div class="ticket-status">
                            <ul>
                                <li class="votes positive"><span class="number">+8</span><span class="type">votes</span></li>
                                <li class="rate positive"><span class="glyphicon glyphicon-plus"></span></li>
                                <li class="rate negative"><span class="glyphicon glyphicon-minus"></span></li>
                            </ul>
                        </div>
                        <div class="ticket-info">
                            <a href="#">Reply</a>
                            <span class="ticket-timestamp">50 mins ago by<span class="author"><a href="#">Username</a></span></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default idplate">
                            <div class="panel-body">
                                <div class="media">
                                    <a href="#" class="pull-left"><img src="~/themes/orchardpros/images/temp-profile.png" class="media-object profile-img-m"></a>
                                    <ul class="expert-info media-body">
                                        <li class="name"><a href="#">Expert name (Links to profile)</a></li>
                                        <li class="title">Lv.00 Title</li>
                                        <li class="rating">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </li>
                                        <li class="experience">
                                            <h4>Experience</h4>
                                            <p>Total EXP: 10000</p>
                                        </li>
                                        <li class="achievements">
                                            <h4>Achievements</h4>
                                            <p>
                                                <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                                <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                                <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                                <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- /.panel -->
                        <button type="button" class="btn btn-success btn-solve-ticket">Solve ticket</button>
                    </div> <!-- /.col-md-4 -->
                </article>

                <article class="ticket-reply">
                    <div class="col-md-8">
                        <div class="ticket-summary">
                            <h3>Optional reply title</h3>
                            <p>Decore reprehendunt ea ius, no dico ullum voluptatibus pro. Ne ullum partem vocent eam. Ea legere rationibus quo, sea prompta adolescens in, hinc docendi eu mei. Id deleniti periculis est. Has soleat graeco eligendi eu, ei veri assum pri. Et illud referrentur mei, pri ceteros commune temporibus no, et causae alterum quo. Mei ei reformidans vituperatoribus, aeque tritani eos id, ad nam graece ancillae invenire.</p>
                        </div>
                        <div class="ticket-status">
                            <ul>
                                <li class="votes positive"><span class="number">+8</span><span class="type">votes</span></li>
                                <li class="rate positive"><span class="glyphicon glyphicon-plus"></span></li>
                                <li class="rate negative"><span class="glyphicon glyphicon-minus"></span></li>
                            </ul>
                        </div>
                        <div class="ticket-info">
                            <a href="#">Reply</a>
                            <span class="ticket-timestamp">50 mins ago by<span class="author"><a href="#">Username</a></span></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default idplate">
                            <div class="panel-body">
                                <div class="media">
                                    <a href="#" class="pull-left"><img src="~/themes/orchardpros/images/temp-profile.png" class="media-object profile-img-m"></a>
                                    <ul class="expert-info media-body">
                                        <li class="name"><a href="#">Expert name (Links to profile)</a></li>
                                        <li class="title">Lv.00 Title</li>
                                        <li class="rating">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </li>
                                        <li class="experience">
                                            <h4>Experience</h4>
                                            <p>Total EXP: 10000</p>
                                        </li>
                                        <li class="achievements">
                                            <h4>Achievements</h4>
                                            <p>
                                                <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                                <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                                <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                                <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- /.panel -->
                        <button type="button" class="btn btn-success btn-solve-ticket">Solve ticket</button>
                    </div> <!-- /.col-md-4 -->
                </article> <!-- /Ticket replies -->
            </section>
        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
</div> <!-- /.container Replies -->
<!-- Post a reply -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section>
                <h2>Post a reply</h2>
                <form class="form-group">
                    <textarea class="form-control" rows="5"></textarea>
                </form>
                <form class="form-group">
                    <button type="submit" class="btn btn-success btn-post">Post reply</button>
                </form>
            </section>
        </div> <!-- /.col-md-8 -->
        <div class="col-md-4">
            <aside>
                <div class="well" id="file-upload">
                    <p class="h3">Drag &amp; Drop attachment(s) or</p>
                    <button class="btn btn-default btn-upload" type="button">Browse files</button>
                </div>
            </aside>
        </div> <!-- /.col-md-4 -->
    </div> <!-- /.row -->
</div> <!-- /.container Post a reply -->