<aside>
    <div class="panel panel-default ticket-details">
        <div class="panel-heading">
            <h3 class="panel-title">Ticket details</h3>
        </div>
        <div class="panel-body">
            <div class="ticket-info">
                <a href="#" class="pull-left"><img src="~/themes/orchardpros/images/temp-profile.png" class="media-object profile-img-m"></a>
                <span class="ticket-timestamp">Created 50 mins ago by<span class="author"><a href="#">Username</a></span></span>
                <span class="ticket-timestamp">Updated 2 mins ago by<span class="author"><a href="#">Username</a></span></span>
            </div>
            <div class="ticket-summary">
                <a href="#" class="category-link">Category</a>
                <a href="#" class="category-link">Category</a>
                <a href="#" class="category-link">Category</a>
                <div class="tags">
                    <a href="#"><span class="label label-default">Default</span></a>
                    <a href="#"><span class="label label-default">Default</span></a>
                    <a href="#"><span class="label label-default">Default</span></a>
                </div>
            </div>
            <div class="ticket-status">
                <ul>
                    <li class="votes"><span class="number">0</span><span class="type">votes</span></li>
                    <li class="views"><span class="number">8</span><span class="type">views</span></li>
                    <li class="replies"><span class="number">2</span><span class="type">replies</span></li>
                </ul>
            </div>
        </div> <!-- /.panel -->
        <div class="panel-body ticket-deadline">
            <h2 class="ticket-expiration">Expires 2d 5h 30m</h2>
            <span class="ticket-bounty">Bounty: $100</span>
            <span class="ticket-exp">EXP: 50</span>
        </div>
        <div class="panel-body">
            <div class="ticket-attachments">
                <h3>Attachments</h3>
                <ul>
                    <li><a href="#"><img src="~/themes/orchardpros/images/file-docx.png" alt="Document">Filename</a></li>
                    <li><a href="#"><img src="~/themes/orchardpros/images/file-pptx.png" alt="Powerpoint">Filename</a></li>
                    <li><a href="#"><img src="~/themes/orchardpros/images/file-xlsx.png" alt="Excel">Filename</a></li>
                    <li><a href="#"><img src="~/themes/orchardpros/images/file-pdf.png" alt="PDF">Filename</a></li>
                    <li><a href="#"><img src="~/themes/orchardpros/images/file-image.png" alt="Image">Filename</a></li>
                </ul>
            </div>
        </div> <!-- /.ticket-details -->
    </div>
</aside>