@model OrchardPros.ViewModels.RecommendationViewModel
<fieldset>
    <div class="form-group">
        <div class="col-sm-12">
            @Html.EditorFor(m => m.Text, new { placeholder = "Write a recommendation" })
        </div>
    </div>
</fieldset>