<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MarkdownDeep.Full" version="1.5" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="NGravatar.Core" version="1.0.1" targetFramework="net451" />
</packages>