@model OrchardPros.Tickets.ViewModels.TicketViewModel
@{
    Layout.Title = @T("Create a Ticket");
}
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <fieldset>
        <button type="submit">@T("Create Ticket")</button>
    </fieldset>
}