@charset "UTF-8";
/* Theme styling for Orchard Pros */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300);

/* Sitebar */
.sitebar.orchard { background:#333; padding:2px 0px; border-bottom:3px solid #94c74f; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -ms-border-radius:0px; }
.sitebar .navbar-left > li { background:url(../Images/icon-network.png) no-repeat left center; padding-left:13px; }
.sitebar .navbar-nav > li > a { padding:0px 15px; color:#fff; line-height:30px; }
.sitebar .nav > li > a:hover, .nav > li > a:focus { background:none; }
.sitebar .nav > li:hover, .nav > li:focus { background-color:#444; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background:none; }

/* Navbar */
.navbar { background:none; border-bottom:none; }
.container > .navbar-header { margin-right:50px; }
.navbar-brand { padding: 0px 15px 0px 0px; }
.navbar-brand .beta { font-size:0.5em; border:1px solid #aaa; color:#aaa; padding:2px; position:relative; top:-6px; left:5px; }
.navbar > .container .navbar-brand { margin-left:0px; }
.navbar-default .navbar-nav > li > .btn-create-ticket { color:#fff; margin-top:10px; margin-right:10px; }
.navbar-collapse { padding-right:0px; }
.navbar-form { padding-right:0px; }
.navbar-right .dropdown-menu { text-align:right; }

/* Type styling */
body { font-family:'Open Sans', Helvetica, sans-serif; font-size:14px; line-height:1.5em; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family:'Open Sans', Helvetica, sans-serif; }
h1, h2, h3, h4, .h1, .h2, .h3, .h4 { font-weight:700 }
h1, .h1 { font-size:36px; }
h2, .h2 { font-size:18px; }
h3, .h3 { font-size:16px; }
h4, .h4 { font-size:14px; }
p { font-size:14px; margin-bottom:1em; }
p.small { font-size:10px; }
a { color:#4f87c7; }
a:hover { color:#b7cde5; text-decoration:none; }

/* Form styling */
label { font-weight:normal; }
input { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; }
.dropdown-menu { font-size:12px; }

/* Buttons */
.btn-submit { background:#94c74f; border:none; padding:5px 20px 5px 40px !important; color:#fff;}
.btn-create-ticket { background:url(../Images/icon-plus.png) #94c74f no-repeat 10px center; border:none; padding:5px 20px 5px 40px !important; color:#fff; }
.btn-solve-ticket { background:url(../Images/icon-check.png) #94c74f no-repeat 10px center; border:none; padding:5px 20px 5px 40px !important; color:#fff; }
.btn-edit { background:url(../Images/icon-signup.png) #f3b735 no-repeat 10px center; border:none; padding:5px 20px 5px 40px !important; color:#fff; }
.btn-post { background:url(../Images/icon-signin.png) #94c74f no-repeat 10px center; border:none; padding:5px 20px 5px 40px !important; color:#fff;}
.btn-save { background:url(../Images/icon-save.png) #94c74f no-repeat 10px center; border:none; padding:5px 20px 5px 40px !important; color:#fff;}
.btn-remove { background:url(../Images/icon-remove.png) #c74f4f no-repeat 10px center; border:none; padding:5px 20px 5px 40px !important; color:#fff;}
.btn-signin { background:url(../Images/icon-signin.png) #aaa no-repeat 10px center; border:none; padding:5px 20px 5px 40px !important; color:#fff;}
.btn-upload { background:url(../Images/icon-upload.png) #aaa no-repeat 10px center; border:none; padding:5px 20px 5px 40px !important; color:#fff;}
.btn-create-account { background:url(../Images/icon-signin.png) #f3b735 no-repeat 10px center; border:none; padding:5px 20px 5px 40px !important; color:#fff;}
.btn-create-ticket:hover, .btn-solve-ticket:hover, .btn-post:hover,
.btn-save:hover, .btn-submit:hover, .btn-signin:hover, .btn-create-account:hover { background-color:#c9e3a7 !important; color:#fff !important; }
.btn-upload:hover, .btn-signin:hover { background-color:#ccc !important; color:#fff !important; }
.btn-edit:hover, .btn-create-account:hover { background-color:#f2d087 !important; color:#fff !important; }
.btn-remove:hover { background-color:#e3a7a7 !important; color:#fff !important; }

/* Markdown */
.mdd_editor_wrap { clear: both;margin-top: 30px; }

/* Profile images */
.profile-img-s { width:32px; height:32px; border:1px solid #000; margin-right:10px; }
.profile-img-m { width:64px; height:64px; }
.profile-img-l { width:140px; height:140px; border:1px solid #000; }

/* Sign in and Sign up */
.sign-in-up { position:relative; }
.sign-in-up form.sign-in, .sign-in-up form.sign-up { position:relative; }
.sign-in-up form.sign-in { padding-right:20px; border-right:1px solid #333; }
.sign-in-up form.sign-up { left:-15px; }
.sign-in-up ul.social-oauth { list-style:none; padding:0px; }
.sign-in-up ul.social-oauth li { float:left; margin-right:5px; width:29px; height:29px; }
.sign-in-up ul.social-oauth li.facebook { background:url(../images/social-facebook.png) no-repeat center center; }
.sign-in-up ul.social-oauth li.twitter { background:url(../images/social-twitter.png) no-repeat center center; }
.sign-in-up ul.social-oauth li.openid { background:url(../images/social-openid.png) no-repeat center center; }
.sign-in-up ul.social-oauth li a { width:100%; height:100%; text-decoration:none; display:block; }
.sign-in-up ul.social-oauth li a:hover { background:#fff; opacity:0.2; }

/* Jumbotron */
.jumbotron { background:url(../images/jumbotron.jpg) no-repeat center top; width:100%; padding:0px; float:left; clear:both; position:relative; }
.jumbotron h1, .jumbotron .h1 { font-size:36px; position:relative; top:190px; left:-30px; }
.jumbotron .sign-in-up { top:-40px; right:-70px; float:right; }
.jumbotron .form-group { margin-bottom:5px; }
.jumbotron input { margin-bottom:0.5em; }
.jumbotron.home { min-height: 322px; }
.jumbotron.home .btn-create-account { position:relative; top:54px; }
.jumbotron.account {
    background:#eee center center; 
    height:300px;
    -ms-background-size: cover;
    background-size: cover;
}
.jumbotron.account img { position:absolute; left:40px; bottom:40px; }

/* Header */
.header { background:url(../Images/header-lg.jpg) #c9e3a7 no-repeat right center; width:100%; height:60px; margin-bottom:30px; float:left; clear:both; -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; border-radius:3px; }
.header h1 { margin-top:17px; margin-left:20px; font-size:24px; }

/* Overlay */
.overlay {display: none; width:100%; height:100%; background:rgba(0,0,0,0.8); position:fixed; z-index:900; }
.popup { position:absolute; top:50%; left:50%; width:30%; height:auto; margin-left:-15%; margin-top:-15%; z-index:999; background:#fff; -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; border-radius:3px; }

/* Sorter */
.sorter { font-size:12px; width:100%; }
.sorter .nav-tabs {}
.sorter .sorter-link { float:right; margin-top:-32px; }
.sorter .filter-results { float:right; margin-top:-39px; }
.sorter .filter-results span { margin-left:5px; font-size:12px; line-height:2.4em; }
.sorter.bottom { width:100%; margin-top:10px; float:left; clear:both; }
.sorter.bottom .action-link { margin-right:2em; }
.sorter.bottom .sorter-link { margin-top:0px; }
.sorter.bottom .filter-results { margin-top:0px; }
.sorter.bottom .pagination { margin:0px; }

/* Navtabs */
.nav-tabs > li > a { color:#555; font-size:12px; }

/* Ticket posts */
article.ticket-post { width:100%; float:left; clear:both; padding:20px 0px; border-bottom:1px solid #ddd; }
article.ticket-post.solved { border-left: #c9e3a7 10px solid; padding-left:10px; }
.ticket-summary { float:left; width:70%; }
.ticket-summary h2, .ticket-summary h3 { margin-top:0px; }
.category-link { float:left; margin-right:10px; font-size:12px; }
.tags { float:left; margin-bottom:10px; }
.tags a { text-decoration:none; }
.ticket-status { float:right; width:30%; clear:right; }
.ticket-status ul { list-style:none; padding-left:0px; float:right; clear:both; }
.ticket-status ul li { width:46px; height:46px; margin-right:5px; background:#eee; text-align:center; float:left; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; border-radius:2px; }
.ticket-status ul li.votes.negative { background:#e3a7a7; }
.ticket-status ul li.votes.positive { background:#c9e3a7; }
.ticket-status ul li.views { }
.ticket-status ul li.replies { margin-right:0px; }
.ticket-status ul li.replies.solved { background:url(../Images/icon-check.png) right top no-repeat #c9e3a7; }
.ticket-status ul li span { font-size:10px; line-height:1em; display:block; }
.ticket-status ul li span.number { margin-top:10px; }
.ticket-info { width:100%; font-size:12px; float:left; clear:both; }
.ticket-info .ticket-expiration { float:left; margin-right:3em; }
.ticket-info .ticket-bounty { float:left; margin-right:3em; }
.ticket-info .ticket-exp { float:left; margin-right:3em; }
.ticket-info .ticket-timestamp { float:right; font-weight:normal; }
.ticket-timestamp .author { font-weight:700; padding-left:5px; }

/* Ticket replies */
article.ticket-reply { width:100%; float:left; clear:both; padding:20px 0px; }
article.ticket-reply .ticket-status { float:left; width:10%; clear:left; }
article.ticket-reply .ticket-status ul { float:left; }
article.ticket-reply .ticket-status .votes { }
.ticket-status .rate { width:21px; height:21px; border:none; text-align:center; margin-top:4px; font-size:8px; color:#fff; float:left; }
.ticket-status .rate.positive { background:#c9e3a7; margin-right:4px; }
.ticket-status .rate.negative { background:#e3a7a7; }
.ticket-status .rate a { color:#fff; }
article.ticket-reply .ticket-summary { float:right; width:90%; min-height:180px; } 
article.ticket-reply .ticket-info { border-top:1px solid #eee; }
article.ticket-reply .idplate { float:right; }

/* Ticket details */
.ticket-details .ticket-info img { margin-right:10px; }
.ticket-details .ticket-info { margin-bottom:15px; }
.ticket-details .ticket-info .ticket-timestamp { float:left; }
.ticket-details .ticket-status { float:left; width:100%; }
.ticket-details .ticket-status ul { float:left; }
.ticket-details .ticket-summary .tags { clear:both; }

.ticket-deadline { background:#c9e3a7; text-align:center; margin:0px 15px 15px 15px; -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; border-radius:3px; -moz-box-shadow:inset 0px 0px 10px rgba(0,0,0,0.3); -webkit-box-shadow:inset 0px 0px 10px rgba(0,0,0,0.3); box-shadow:inset 0px 0px 10px rgba(0,0,0,0.3); }
.ticket-deadline h2 { margin-top:0px; }
.ticket-deadline .ticket-bounty { margin-right:30px; }
.ticket-deadline .ticket-exp { }

.ticket-attachments ul { padding-left:0px; list-style:none; }
.ticket-attachments ul img { margin-right:10px; }

/* Blocks */
.block {}
.block.create-account { margin-bottom:30px; }
.block.quote { background:#94c74f; color:#fff; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; }
.block.quote .dropcap { background:url(../images/left-quote.png) no-repeat left top; width:20px; height:40px; margin-right:10px; float:left; }
.block.quote blockquote { border:none; }
.block.quote .quote-content { font-style:italic; }
.block.quote .quote-author { text-align:right; color:#fff; }
.block.tagcloud {}
.block.tagcloud a { text-decoration:none; }
/* Currently not in use
.block.filters {}
.block.filters .btn-group { width:100%; margin-bottom:5px; }
.block.filters .btn { width:100%; text-align:left; }
.block.filters .caret-container { position:absolute; top:0px; right:0px; border-left:1px solid #eee; padding:0px 15px; height:100%; }
.block.filters .caret { position:relative; top:5px; }
.block.filters .dropdown { width:100%; }
*/

/* Filters */
.filters { width:100%; margin-bottom:30px; background:#eee; float:left; clear:both; -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; border-radius:3px; }
.filters ul { list-style:none; margin:10px 0px; padding-left:10px; float:left; clear:both; }
.filters li.filter { float:left; margin-right:20px; padding:5px; background:#f2d087; border:1px solid #aaa; -moz-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; border-radius:3px; }
.filters li.filter:hover { background:#ccc; }
.filters li.filter span.glyphicon { margin-left:10px; }
.filters li.filter a { color:#fff; text-decoration:none; }

/* ID Plate */
.idplate { width:100%; }
.idplate ul.expert-info { list-style:none; padding-left:0px; float:left; }
.idplate ul.expert-info.people { width:20%; }
.idplate ul.expert-info.people.expanded { width:60%; }
.idplate li.title,
.idplate li.member-since,
.idplate li.rating,
.idplate li.activity p,
.idplate li.experience p,
.idplate li.achievements p, 
.idplate li.area,
.idplate li.summary p { font-size:12px; margin-bottom:0.25em; }
.idplate li.area { font-size:10px; }

/* Categories */
.list-categories { padding-left:20px; margin-bottom:0px; }
.list-categories li { padding-bottom:10px; }

/* File Upload */
#file-upload { text-align:center; border:1px dashed #aaa; background:#fff; margin-top:49px; }
#file-upload:hover { border:1px dashed #000; }
#file-upload input { cursor: none; height: 0; left: 0; opacity: 0; position: absolute; top: 0; width: 0; z-index: 1000; }

/* Profile */
.profile.idplate .panel-body { border-bottom:1px solid #ddd; padding:5px 15px; }
.profile-title, .profile-summary, .profile-experience, .profile-skills, .profile-recommendations,
.profile-account, .profile-personal-details, .profile-avatar, .profile-wallpaper, .profile-notifications, .profile-payment 
{ border-bottom:1px solid #ddd; padding-bottom:10px; margin-bottom:30px; }

.profile-title h2 { background:url(../Images/icon-title.png) no-repeat left center; }
.profile-summary h2 { background:url(../Images/icon-summary.png) no-repeat left center; }
.profile-experience h2 { background:url(../Images/icon-experience.png) no-repeat left center; }
.profile-skills h2 { background:url(../Images/icon-skills.png) no-repeat left center; }
.profile-recommendations h2 { background:url(../Images/icon-recommendations.png) no-repeat left center; }
.profile-account h2 { background:url(../Images/icon-profile-settings.png) no-repeat left center; }
.profile-personal-details h2 { background:url(../Images/icon-title.png) no-repeat left center; }
.profile-avatar h2 { background:url(../Images/icon-image.png) no-repeat left center; }
.profile-wallpaper h2 { background:url(../Images/icon-image.png) no-repeat left center; }
.profile-notifications h2 { background:url(../Images/icon-notifications.png) no-repeat left center; }
.profile-payment h2 { background:url(../Images/icon-payment.png) no-repeat left center; }

.profile-title h2, .profile-summary h2, .profile-experience h2, .profile-skills h2, .profile-recommendations h2,
.profile-account h2, .profile-personal-details h2, .profile-avatar h2, .profile-wallpaper h2, .profile-notifications h2, .profile-payment h2 
{ padding-left:40px; line-height:2.5em; }
.list-jobs { list-style:none; padding-left:0px; }
.list-skills { list-style:none; padding-left:0px; }
.profile-actions a { font-size:12px; margin-right:1em; }

/* People */
article.user { margin-top:20px; }

/* Companies */
article.company { margin-top:20px; }

/* Footer */
footer { background:#eee; border-top:3px solid #94c74f; margin-top:30px; }
footer .list { padding-left:0px; list-style:none; }
footer .list a { color:#333; font-size:12px; text-decoration:none; }
footer .list a:hover { color:#4f87c7; }
.footer-block { float:left; }
.footer-block.orchard-network { width:33%; margin-right:20px; }
.footer-block { width:50%; }

/* Helpers */
.half-size { width:50% !important; }
.bordered-full { border:1px solid #ddd; }
.bordered-top-bottom { border-top:1px solid #ddd; border-bottom:1px solid #ddd; }
.bordered-left-right { border-left:1px solid #ddd; border-right:1px solid #ddd; }
.no-border { border:0px !important; }
.no-padding { padding:0px !important; }
.no-margin { margin:0px !important; }

/* Responsive elements */
/* Mobile */
@media (max-width: 767px) {
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
}
/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* Large Desktop */
@media (min-width: 1200px) {
.jumbotron { background:url(../images/jumbotron-lg.jpg) no-repeat center top; }
.jumbotron h1, .jumbotron .h1 { top:230px; }

}